body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

header {
    margin-top: 10px;
    padding: 40px;
}

nav {
    margin: 10px 0 20px 0;
    padding: 40px;
}

section {
    width: 495px;
    float: left;
    padding: 40px 10px 10px 10px;
    margin: 0 20px 20px 0;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin: 20px 0 0 0;
}

h1, p {
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

aside {
    float: left;
}

footer {
    clear: both;
}